<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>

  <body>
    <h1>Mean - Median - Mode</h1>
    <h3>Enter a list of numbers</h3>
    <div data-ng-app="mmmApp">
      <div data-ng-controller="mmmCtrl">
        <label>(Comma separated)</label><br/>
        <input data-ng-model="numList" type="text"/>
        <button data-ng-click="submitNumList()">Calculate</button>
        <div data-ng-show='mean'>
          <p>Calculated values for {{numList}} are: </p>
          <ul>
            <li>Mean = {{mean}}</li>
            <li>Median = {{median}}</li>
            <li>Mode = {{mode}}</li>
          </ul>
        </div>
      </div>
    </div>

    <script src="bundle.js"></script>
  </body>
</html>